html, body, #app, .el-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.el-container {
  overflow: hidden;
}

.el-breadcrumb {
  margin-bottom: 15px;
}

.el-card {
  box-shadow: 0 1 1 rgba(0, 0, 0, 0.15)
}
